


/* Mobile devices (480px and above) */
@media (max-width: 640px) {
    header {
      height: 180px; /* Reduce the height for mobile devices */
      background-position: top; /* Adjust the background position for mobile devices */
    }
    #banner-search{
        padding-left: 30px;
        height: 30px;
        width: 60vw;
        border-radius: 8px;
        margin-top: 60px;
        font-size: 14px;
        font-weight: 500;
    }
    #section-1{
        flex-direction: column;
        border-radius: 10px;
        padding: 0px;
    }
    #section-1 .div-1{
        bottom: 4vh;
        left: 4vh;
        width: 95px;
    }
    #section-1 .div-1 img{
        height: 85px;
    }
    #section-1 .div-2{
        display: flex;
        width: 90vw;
        border-radius: 15px;
        margin-left: 5vw;
        margin-bottom: 30px;
        padding: 0px;
        background-color: #111729;
    }
    #section-1 .div-2 h6{
        border: none;
        font-size: 24px;
    }
    #section-1 .div-2 h4{
        font-size: 24px;
    }
    #section2{
        width: 100vw;
    }
    #section-2 h1{
        font-size: 32px;
        /* font-weight: 500; */
        /* color: white; */
        margin-bottom: 15px;
    }
    #section-2 p{
        font-size: 18px;
        /* font-weight: 300; */
        color: gray;
    }
    #section-3{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
    .card{
        width: 250px;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .card h4{
        font-size: 24px;
        font-weight: 300;
    }
    .card p{
        font-size: 18px;
        font-weight: 100;
    }
    .card img{
        top: 10px;
    }
    .card span{
        font-size: 12px;
        font-weight: 200;
    }
    .card sub{
        font-size: 10px;
        font-weight: 200;
    }
    
}