@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: #20293A;
}
header{
    height: 400px;
    width: 100%;
    background-image: url( '../media/banner.png' );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: grid;
    justify-content: center;
}



#banner-search{
    background-image: url( '../media/c.svg' );
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 60px;
    width: 30vw;
    border: none;
    border-radius: 12px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

#banner-logo{
    display: flex;
    height: 100px;
    margin-top: -90px;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #111729;
    display: none;
}
#banner-logo img{
    width: 90px;
    height: 90px;
    background-color: #111729;
}
#banner-logo div{
    margin-left: 60px;
    padding-top: 10px;
    background-color: #111729;
}
#banner-logo div h5{
    font-size: 30px;
    font-weight: 400;
    color: white;
    background-color: #111729;
}
#banner-logo div p{
    font-size: 16px;
    font-weight: 200;
    color: aliceblue;
    margin-top: 15px;
    background-color: #111729;
}




#section-1{
    display: flex;
    border-radius: 10px;
    padding: 20px;
}
#section-1 .div-1{
    border-radius: 10px;
    padding: 10px;
    position: relative;
    bottom: 6vh;
    left: 13vh;
}
#section-1 .div-1 img{
    height: 110px;
}
#section-1 .div-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 17vw;
    border-radius: 15px;
    margin-left: 10vw;
    padding: 10px;
    background-color: #111729;
}
#section-1 .div-2 h6{
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-right: 1px solid white;
    background-color: #111729;
    padding-right: 10px;
    margin-right: 10px;
}
#section-1 .div-2 h4{
    font-size: 30px;
    font-weight: 500;
    color: white;
    background-color: #111729;
}


#section-2{
    width: 80%;
    margin: auto;
}
#section-2 h1{
    font-size: 64px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}
#section-2 p{
    font-size: 24px;
    font-weight: 300;
    color: gray;
}



#section-3{
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.card{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #111729, #1D1B48);
    padding-top: 20px;
    padding-left: 20px;
}
.card h4{
    font-size: 30px;
    font-weight: 400;
    color: aliceblue;
}
.card p{
    font-size: 20px;
    font-weight: 200;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card img{
    position: relative;
    top: 8px;
}
.card span{
    font-size: 16px;
    font-weight: 200;
    color: aliceblue;
    margin-right: 20px;
}
.card sub{
    font-size: 14px;
    font-weight: 100;
    color: aliceblue;
    margin-left: 20px;
}








/* laptop devices (1440px and above) */
@media (min-width: 768px) and (max-width: 1440px) {
    
    #section-1{
        /* flex-direction: row; */
        padding: 0px;
    }
    #section-1 .div-1{
        /* bottom: 6vh; */
        left: 4vh;
        /* width: 110px; */
    }
    #section-1 .div-2{
        /* display: flex; */
        height: 30px;
        width: 20vw;
        border-radius: 5px;
        margin-left: 4vw;
        margin-top: 1vw;
    }
    #section-1 .div-2 h4{
        font-size: 15px;
    }
    #section-3{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .card{
        width: 380px;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .card h4{
        font-size: 24px;
        font-weight: 300;
    }
    .card p{
        font-size: 18px;
        font-weight: 100;
    }
    .card img{
        top: 10px;
    }
    .card span{
        font-size: 12px;
        font-weight: 200;
    }
    .card sub{
        font-size: 10px;
        font-weight: 200;
    }
}







/* Tab devices (480px and above) */
@media (min-width: 640px) and (max-width: 768px) {
    
    #section-1{
        flex-direction: row;
        padding: 0px;
    }
    #section-1 .div-1{
        bottom: 5vh;
        left: 1vh;
        width: 110px;
    }
    #section-1 .div-2{
        display: flex;
        height: 30px;
        width: 20vw;
        border-radius: 9px;
        margin-left: 1vw;
    }
    #section-1 .div-2 h6{
        font-size: 14px;
        font-weight: 500;
        padding-right: 5px;
    }
    #section-1 .div-2 h4{
        font-size: 15px;
        font-weight: 300;
    }
    #section-3{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .card{
        width: 250px;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .card h4{
        font-size: 24px;
        font-weight: 300;
    }
    .card p{
        font-size: 18px;
        font-weight: 100;
    }
    .card img{
        top: 10px;
    }
    .card span{
        font-size: 12px;
        font-weight: 200;
    }
    .card sub{
        font-size: 10px;
        font-weight: 200;
    }
}






/* Mobile devices (640px and above) */
@media (max-width: 640px) {
    header {
      height: 180px; /* Reduce the height for mobile devices */
      background-position: top; /* Adjust the background position for mobile devices */
    }
    #banner-search{
        padding-left: 30px;
        height: 30px;
        width: 60vw;
        border-radius: 8px;
        margin-top: 60px;
        font-size: 14px;
        font-weight: 500;
    }
    #section-1{
        flex-direction: column;
        border-radius: 10px;
        padding: 0px;
    }
    #section-1 .div-1{
        bottom: 4vh;
        left: 4vh;
        width: 95px;
    }
    #section-1 .div-1 img{
        height: 85px;
    }
    #section-1 .div-2{
        display: flex;
        width: 90vw;
        border-radius: 15px;
        margin-left: 5vw;
        margin-bottom: 30px;
        padding: 0px;
        background-color: #111729;
    }
    #section-1 .div-2 h6{
        border: none;
        font-size: 24px;
    }
    #section-1 .div-2 h4{
        font-size: 24px;
    }
    #section2{
        width: 100vw;
    }
    #section-2 h1{
        font-size: 32px;
        /* font-weight: 500; */
        /* color: white; */
        margin-bottom: 15px;
    }
    #section-2 p{
        font-size: 18px;
        /* font-weight: 300; */
        color: gray;
    }
    #section-3{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }
    .card{
        width: 250px;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .card h4{
        font-size: 24px;
        font-weight: 300;
    }
    .card p{
        font-size: 18px;
        font-weight: 100;
    }
    .card img{
        top: 10px;
    }
    .card span{
        font-size: 12px;
        font-weight: 200;
    }
    .card sub{
        font-size: 10px;
        font-weight: 200;
    }
    
}



